/* reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* common css */
.container {
    width: 90%;
    max-width: 1320px;
    margin: 0 auto;
}

img {
    width: 100%;
}

a {
    text-decoration: none;
}

li {
    list-style-type: none;
}

.d-flex {
    display: flex;
}

body {
    background-color: #FFFFFF;
    font-family: "Source Sans 3", sans-serif;
    font-size: 16px;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
    line-height: 1.6;
}

/* root color */
:root {
    --primary-color: #424242;
    --secondary-color: #9E9E9E;
    --button-text-color: #FFFFFF;
    --primary-bg: #FFB30E;
    --bg-last: #212121;
}

.comon_button {
    background-color: var(--primary-bg);
    padding: 14px 35px;
    border: none;
    border-radius: 10px;
}

.comon_button:hover {
    transform: rotateY('angle');
}

section {
    margin: 80px 0;
}

/*================= 
header styling start
 ==================*/

nav {
    position: fixed;
    top: 0;
    z-index: 33;
    background-color: #FFFFFF;
    width: 100%;
    padding: 15px 0;
}

.header_inner {
    justify-content: space-between;
    align-items: center;
}

.text_bold {
    color: var(--primary-color);
    font-weight: bold;
    margin-left: 5px;
}

.fa-location-dot {
    color: var(--primary-bg);
    margin-left: 8px;
    font-weight: 800;
}

.login button {
    background-color: #FFFFFF !important;
    color: var(--primary-bg);
    font-weight: bold;
    margin-left: 10px;
    box-shadow: 0px 5px 10px #ffb30e69;
}

.fa-magnifying-glass {
    color: var(--primary-bg);
    font-weight: 800;
}

/*================= 
header styling start
 ==================*/
.hero_section {
    background-color: var(--primary-bg);
}

.hero_inner {
    justify-content: space-between;
    align-items: center;
}

.hero_text {
    width: 50%;
    flex-direction: column;
    justify-content: center;
}

.hero_text h2 {
    color: white;
    font-weight: bold;
    font-size: 60px;
}

.hero_text p {
    color: #504F4F;
    font-size: 18px;
    margin-bottom: 20px;
}

.Order_Card {
    flex-direction: column;
    background-color: #FFFFFF;
    justify-content: center;
    padding: 24px 20px;
    border-radius: 16px;
}

.Order_Card span img {
    width: 20%;
}

.Order_Card_icon {
    display: flex;
    justify-content: flex-start !important;
    align-items: center;
    gap: 20px;
}

.Order_Card_icon span:first-child {
    background-color: rgba(241, 114, 40, 0.2)
        /* 20% opacity */
    ;
    border-radius: 8px;
    padding: 5px 10px;
}

.search_input {
    color: #FFFFFF;
}

.search_input_text {
    color: #FFFFFF;
}

.location .comon_button {
    background: linear-gradient(to bottom right,
            #FF7A7A 0%,
            #F65900 100%);
}
.location input {
  padding: 10px 150px 10px 30px;
  background-color: #F5F5F5;
  border: none;
  border-radius: 8px;
 
}

.location{
    margin-top: 10px;
    position: relative;
    display: flex;
    gap: 30px;
}
.location .input_icon_location{
    position: absolute;
    left: 0;
    top: 30%;
}
.location input::placeholder{
  font-size: 16px;
  font-weight: bold;
}
.hero_img img{
    width: 100%;
}